@import "./css-fonts/Galien.css";
@import "./css-fonts/Gilroy.css";
@import "./css-fonts/Gilroy-SemiBold.css";

$fontFirst: Gilroy, Arial, sans-serif;
$fontSecond: Gilroy-SemiBold, Arial, sans-serif;
$fontThird: Galien, Arial, sans-serif;

$firstColor: #1F3F68;
$secondColor: #FFFFFF;
$thirdColor: #5A98D0;
$fourthColor: #316099;
$fifthColor: #000000;

$maxWidth: 1366px;
$widthContent: 940px;
$widthGrid: 60px;
$widthBetweenGrid: 20px;

$widthBetweenGridPr: ($widthBetweenGrid / $widthContent * 100%);

@mixin paddingOutside {
  padding-left: 15px;
  padding-right: 15px;
}
