@mixin button-close {
  display: inline-block;
  text-align: right;
  right: 0;
  padding-top: 5px;
  padding-right: 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1000;
  &:hover {
    opacity: 0.5;
  }
  img {
    width: 30px;
  }
}