@import "./basic-options.scss";
.cards-offers__wrapper {
    @include paddingOutside;
}
.cards-offers {
    background-color: $secondColor;
    &__container {
        max-width: $widthContent;
        margin: 0 auto;
        padding-top: 180px;
        padding-bottom: 93px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 (-$widthBetweenGrid) 0 0;
    }
    &__column {
        display: flex;
        flex-direction: column;
        width: 100%;
        /*padding-right: 20px;*/
        //padding-right: 2.083%;
        padding-right: ($widthBetweenGrid);
        padding-left: 0;
        list-style-type: none;
    }
    @media screen and (min-width: 760px) {
        &__column {
            width: 50%;
        }
    }
    &__title {
        max-width: 380px;
        font-family: $fontFirst;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: $fourthColor;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    @media screen and (min-width: 760px) {
        &__title {
            margin-bottom: 158px;
        }
    }
    &__item {
        padding-left: ($widthGrid + $widthBetweenGrid);
        padding-bottom: 100px;
        &-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: #FFFFFF;
            box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
            border-radius: 10px;
        }
        &-picture-wrapper {
            display: flex;
            height: 197px;
            max-width: 380px;
            justify-content: center;
            align-items: flex-end;
            & img {
                max-height: 197px;
                background-size: cover;
            }
        }
        &-text {
            //padding: 20px;
            padding: 13.152%;
            &-title {
                font-family: $fontFirst;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.02em;
                color: $firstColor;  /* вынести в миксины и переменные*/
            }
            &-descriptions {
                margin-top: 16px;
                font-family: $fontSecond;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.05em;
                color: $firstColor;
                opacity: 0.6;
                margin-bottom: 32px;
            }
        }
        &-more {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $thirdColor;
        }
        &-more-text {
            font-family: $fontSecond;
            font-size: 14px;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: $thirdColor;
            padding-right: 28px;
            &:after {
                background-color: $thirdColor;
                display: block;
                content: "";
                height: 1px;
                width: 0;
                -webkit-transition: width .3s ease-in-out;
                -moz--transition: width .3s ease-in-out;
                transition: width .3s ease-in-out;
            }
            &:hover:after,
            &:focus:after {
                width: 100%;
            }
        }
        &-more-icon{

        }
    }
}
