@import "./basic-options.scss";

.our-clients {
    background: $thirdColor;
    border-radius: 14.5vw 0 0 0;
    @include paddingOutside;

    &__container {
        max-width: 940px;
        margin: 0 auto;
        padding-top: 97px;
        padding-bottom: 125px;
    }

    &__headline {
        display: flex;
        flex-wrap: wrap;
        box-sizing: content-box;
        justify-content: space-between;
        margin-bottom: 100px;
        padding-right: 90px;

        &-title {
            max-width: 100%;
            font-family: $fontFirst;
            font-size: 36px;
            line-height: 128%;
            letter-spacing: 0.05em;
            color: $secondColor;
            margin-bottom: 11px;
        }
        @media screen and (min-width: 760px) {
            &-title {
                max-width: 26.7%;
            }
        }

        &-description {
            max-width: 100%;
            font-family: $fontFirst;
            font-size: 16px;
            line-height: 162%;
            letter-spacing: 0.05em;
            color: $secondColor; /* Вынести в миксины */
            opacity: 0.6;
        }
        @media screen and (min-width: 760px) {
            &-description {
                max-width: 62.45%;
            }
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        /*justify-content: space-between;*/
    }
    &__items {
        width: 50%;
        height: 128px;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid $secondColor;
        border-left: 1px solid $secondColor;
        font-family: $fontFirst;
        font-size: 20px;
        line-height: 230%;
        letter-spacing: 0.02em;
        color: $secondColor;
        &:nth-child(-n+2) {
            border-top: none;
        }
        &:nth-child(2n+1) {
            border-left: none;
        }
        &-link {
            display: flex;
            background: rgba(31, 63, 104, 0.2);
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            color: $secondColor;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    @media screen and (min-width: 580px) {
        &__items {
            width: 33%;
            &:nth-child(-n+2) {
                border-top: 1px solid $secondColor;
            }
            &:nth-child(2n+1) {
                border-left: 1px solid $secondColor;
            }
            &:nth-child(-n+3) {
                border-top: none;
            }
            &:nth-child(3n+1) {
                border-left: none;
            }
        }
    }
    @media screen and (min-width: 760px) {
        &__items {
            width: 25%;
            &:nth-child(-n+3) {
                border-top: 1px solid $secondColor;
            }
            &:nth-child(3n+1) {
                border-left: 1px solid $secondColor;
            }
            &:nth-child(-n+4) {
                border-top: none;
            }
            &:nth-child(4n+1) {
                border-left: none;
            }
        }
    }
}
